/* Setup Variables */
:root {
  /* Colors */
  --dark-bg: #0c0904;
  --light-bg: #190c09;
  --transparent: rgba(25, 12, 9, 0.781);
  --gray-border: rgb(71, 71, 71);
  --font: #c6c6c6;
  --link: #87847c;
  --link-hover: #686868;
  --red: #d40404;
  --green: #2e9d5b;
  --green-dark: #16753c;

  /* Fonts */
  --base-font: 'Poppins', sans-serif;
  --heading-font: 'Yomogi', cursive;
  --base-font-light: 200;
  --base-font-normal: 400;
  --base-font-bold: 900;

  /* misc */
  --shadow: 0 2px 8px rgba(71, 71, 71, 0.39);
}

/* Reset default browser styles*/
* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1.12rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

/* Base setup */

html {
  font-family: var(--base-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

/* Container used for large screens */
.container {
  width: 100%;
  max-width: 112.5rem;
}

body {
  background-image: url('../images/tactile_noise.png');
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'top-bar' 'header' 'main' 'footer';
  min-height: 100vh;
  color: var(--font);
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover,
a:focus {
  color: var(--link-hover);
  font-size: 1.1rem;
}

a:active {
  font-size: 0.9rem;
  color: var(--link-hover);
}

.active {
  text-decoration: underline;
  color: var(--link-hover);
}

/* Styles */

/* Top bar only visible when integrated in michael-h.dk */

.top-bar {
  grid-area: top-bar;
  width: 100%;
  background: var(--dark-bg);
  padding: 0.5rem;
  display: none;
}

.top-bar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.2rem;
}

.top-bar .container nav {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 46.875rem) {
  .top-bar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-bar .container nav {
    flex-direction: row;
    margin: 0;
  }

  .top-bar .container nav a {
    margin: 0 1rem;
  }
}

/* header */
header {
  grid-area: header;
  background-image: url('../images/bg-header.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 25vh;
}

header .container {
  background-color: var(--transparent);
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 5rem;
}

main {
  grid-area: main;
  width: 80%;
  margin: 2rem auto;
  background-color: var(--dark-bg);
  border-radius: 0.625rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container .game-box {
  background-color: var(--light-bg);
  width: 60%;
  border-radius: 0.75rem;
  margin: 1rem 0;
  text-align: center;
  box-shadow: var(--shadow);
  padding: 1rem;
}

main h2 {
  font-size: 2rem;
}

main .container .healthbar {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--gray-border);
  margin: 1rem 0;
  background-color: var(--dark-bg);
}
main .container .healthbar-value {
  background-color: var(--green);
  width: 100%;
  height: 100%;
}

main .container .controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font: inherit;
  border: 1px solid var(--green);
  background-color: var(--green);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  margin: 1rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  border-color: var(--green-dark);
  background-color: var(--green-dark);
  box-shadow: 0 2px 12px rgba(71, 71, 71, 0.39);
}

button:disabled {
  background-color: var(--gray-border);
  border-color: var(--gray-border);
  box-shadow: none;
  cursor: not-allowed;
}

main .container #log ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .container #log li {
  margin: 0.5rem 0;
}

main .container .log--player {
  color: #7700ff;
}

main .container .log--monster {
  color: #da8d00;
}

main .container .log--heal {
  color: var(--green);
}

main .container .log--damage {
  color: var(--red);
}

/* footer */
footer {
  grid-area: footer;
  background-color: var(--light-bg);
  padding: 0.75rem 0.5rem 1.5rem 0.5rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container .copy {
  text-align: center;
}

footer svg {
  width: 2rem;
  fill: var(--font);
  margin: 0 0.5rem;
}

footer .container .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 46.875rem) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer .container .copy {
    text-align: left;
  }
}
