/* Setup Variables */
:root {
  /* Colors */
  --dark-bg: #0c0904;
  --light-bg: #190c09;
  --transparent: rgba(25, 12, 9, 0.781);
  --gray-border: #474747;
  --font: #c6c6c6;
  --link: #87847c;
  --link-hover: #686868;
  --red: #d40404;
  --green: #2e9d5b;

  /* Fonts */
  --base-font: 'Poppins', sans-serif;
  --heading-font: 'Yomogi', cursive;
  --base-font-light: 200;
  --base-font-normal: 400;
  --base-font-bold: 900;
}

/* Reset default browser styles*/
* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1.12rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

/* Base setup */

html {
  font-family: var(--base-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

/* Container used for large screens */
.container {
  width: 100%;
  max-width: 112.5rem;
}

body {
  background-image: url('../images/tactile_noise.png');
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'top-bar' 'header' 'main' 'footer';
  min-height: 100vh;
  color: var(--font);
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover,
a:focus {
  color: var(--link-hover);
  font-size: 1.1rem;
}

a:active {
  font-size: 0.9rem;
  color: var(--link-hover);
}

.active {
  text-decoration: underline;
  color: var(--link-hover);
}

/* Styles */

/* Top bar only visible when integrated in michael-h.dk */

.top-bar {
  grid-area: top-bar;
  width: 100%;
  background: var(--dark-bg);
  padding: 0.5rem;
  display: none;
}

.top-bar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.2rem;
}

.top-bar .container nav {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 46.875rem) {
  .top-bar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-bar .container nav {
    flex-direction: row;
    margin: 0;
  }

  .top-bar .container nav a {
    margin: 0 1rem;
  }
}

/* header */
header {
  grid-area: header;
  background-image: url('../images/bg-header.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 25vh;
}

header .container {
  background-color: var(--transparent);
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 5rem;
}

main {
  grid-area: main;
  width: 80%;
  margin: 2rem auto;
  background-color: var(--dark-bg);
  border-radius: 0.625rem;
}

/* footer */
footer {
  grid-area: footer;
}
